// configuration file for serialToUDP application, January 2019, Romain Chiappinelli
// PLEASE DO NOT ADD ANY LINE, OR SPACE BEFORE THE VALUES
ttyUSB0       		// serial port name, should look like "ttyS1" in Linux or "COM1" in Windows
57600               // Baud rate of the serial port
localhost           // IP address for UDP, should be "localhost" or "127.0.0.1" on a standalone computer
5502                // UDP port for Flightgear inputs
